

* {
  padding: 0;
  margin: 0;
}

body {
  color: #00ff35;
  background: black;
  
}

@keyframes anim-stars {
  from {
      transform: translateY(0px);
  }
  to {
      transform: translateY(-150px);
  }
}

.stars{
  position: relative;
	width: 3px;
	height: 3px;
	border-radius: 50%;
	box-shadow: 50px 30px #00ff35,
    100px 80px #00ff35,
    80px 120px #00ff35,
    300px 20px #00ff35,
    250px 130px #00ff35,
    200px 50px #00ff35,
    150px 100px #00ff35,
    320px 100px #00ff35;
    animation: anim-stars 10s linear infinite;
}

.stars::after{
  content: " ";
  position: absolute;
  top: 150px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
	box-shadow: 50px 30px #00ff35,
    100px 80px #00ff35,
    80px 120px #00ff35,
    300px 20px #00ff35,
    250px 130px #00ff35,
    200px 50px #00ff35,
    150px 100px #00ff35,
    320px 100px #00ff35;
}

.stars2{
  position: relative;
  width: 1px;
  height: 1px;
  border-radius: 50%;
	box-shadow: 50px 30px #00ff35,
    100px 80px #00ff35,
    80px 120px #00ff35,
    300px 20px #00ff35,
    250px 130px #00ff35,
    200px 50px #00ff35,
    150px 100px #00ff35,
    320px 100px #00ff35;
  animation: anim-stars 20s linear infinite;
}

.stars2::after{
  content: " ";
  position: absolute;
  top: 150px;
  width: 1px;
  height: 1px;
  border-radius: 50%;
	box-shadow: 50px 30px #00ff35,
    100px 80px #00ff35,
    80px 120px #00ff35,
    300px 20px #00ff35,
    250px 130px #00ff35,
    200px 50px #00ff35,
    150px 100px #00ff35,
    320px 100px #00ff35;
}

.ceu{
  position: relative;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
}

label {
  display: block;
}

.titulo-principal {
  position: static;
  text-align: center;
  font-size: 80px;
  font-family: 'Sono', sans-serif;
  font-weight: 400;
  letter-spacing: 16px;
  color: #00ff35;
  margin-top: 120px;
  padding: 24px;
}

span {
  color: #00ff35;
}


::selection {
  background: #00ff35;
  color: #00ff35;
}


.campo-mensagem {
  margin-top: 4px;
  font-family: 'Sono', sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 16px;
  background: black;
  box-shadow: 0px 4px 13px #00ff35(0, 0, 0, 0.5);
  border: 1px solid #0e0a0a;
  color: #00ff35;
  border-radius: 4px;
  outline: none;
  margin-bottom: 8px;
}

.campo-mensagem:focus {
  background: linear-gradient(145deg, rgb(24, 23, 23), #0e0a0a);
  border: 1px solid #0e0a0a;
  transition: 1s;
}

select {
  width: 100%;
  height: 24px;
  border-radius: 4px;
  border: 1px solid #00ff35;
  background: black;
  font-family: 'Sono', sans-serif;
  font-size: 16px;
  color: #00ff35;
  margin-bottom: 20px;
  outline: none;
}

select option {
  background: black;
  color: #00ff35;
  font-family: 'Sono', sans-serif;
  border: 1px solid #00ff35;
  border-radius: 4px;
}

select:focus {
  background: linear-gradient(145deg, black, rgb(40, 39, 39), black);
}

.radio {
  display: flex;
  gap: 5px;
  color: #00ff35;
  place-items: center;
}

input[type="radio"] {
  outline: none;
  accent-color: #00ff35;
  width: 32px;
  height: 32px;
}

input[type="radio"]:focus {
  background: linear-gradient(145deg, #00ff35, black);
  box-shadow: 10px 10px 2s0px #00ff35, -10px -10px 40px #00ff35;
}

.opcao-codificar {
  font-size: 16px;
  font-family: 'Sono', sans-serif;
}

.radio-button {
  display: flex;
  gap: 24px;
  margin-bottom: 20px;
  justify-content: center;
  padding: 16px;
}

.btn {
  display: flex;
  justify-content: center;
}

button {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid #00ff35;
  padding: 8px;
  border-radius: 5px;
  color: #00ff35;
  margin-bottom: 20px;
  font-family: 'Sono', sans-serif;
  cursor: pointer;
  transition: 0.3s;
}

button:focus {
  outline: solid 1px #00ff35;
  
}

button:hover {
  background: linear-gradient(145deg, rgb(31, 30, 30), rgb(0, 0, 0));
  border: solid 1px silver;
  transition: 0.3s;
  color: silver;
}

form {
  display: flex;
  flex-direction: column;
}

.mensagem {
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 4px;
  outline: none;
  margin-bottom: 8px;
  color: #00ff35;
  text-align: center;
  font-size: 24px;
}

.slider-range {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
  padding: 16px;
}

input[type="range"] {
  width: 240px;
  background-color: rgba(46, 44, 44, 0.2);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  width: 30px;
  background-color: rgba(46, 44, 44, 0.2);
  text-align: center;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #00ff35;
  color: #00ff35;
  outline: none;
  font-family: 'Sono', sans-serif;
  font-size: 32px;
}

.chave {
  text-align: center;
  margin-bottom: 10px;
  color: #00ff35;
  font-size: 24px;
  font-family: 'Sono', sans-serif;
  padding: 8px;
}

.chave-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #00ff35;
  border-radius: 4px;
}

.range {
  -webkit-appearance: none;
  height: 10px;
  background-color: rgb(29, 29, 29);
  outline: none;
  cursor: ew-resize;
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 10px;
  background-color: #00ff35;
  border-radius: 2px;
}


svg:hover path {
  fill: #00ff35;
}
