/*Geral*/

@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Share Tech Mono', monospace;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0);
    background: linear-gradient(79deg, rgba(0, 0, 0, 0.9) 0%, rgba(85, 93, 85, 0.958420868347339) 49%, rgba(0, 0, 0, 0.9) 100%);
    background-size: contain;
}


/*Título*/

.containerTopo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 24px;
}

.titulo {
    font-size: 80px;
    margin: 8px 4px 4px 4px;
    color: #37ff20;
    text-shadow: 1px 1px 1px black;
}

.subtitulo {
    font-size: 24px;
    margin: 8px;
    border-radius: 8px;
    color: #37ff20;
    text-shadow: 1px 1px 1px black;
}


/*Lista de seleção de opção de criptografia*/

.containerCentral {
    background: rgb(0, 0, 0);
    background: linear-gradient(79deg, rgba(0, 0, 0, 0.9) 0%, rgba(85, 93, 85, 0.958420868347339) 49%, rgba(0, 0, 0, 0.9) 100%);
    border-radius: 8px;
    padding: 24px;
    border: 1px solid #37ff20;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formCifraDeCesar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.campoMensagem {
    margin-top: 48px;
    width: 720px;
    height: 48px;
    font-size: 32px;
    border-radius: 8px;
    color: #37ff20;
    background-color: black;
    border: 1px solid #37ff20;
    padding: 4px;
}

input:focus {
    outline: 0;
    transition: 0.2s;
    background-color: black;
    color: #37ff20;
    border: 1px solid white;
}

.caixaSelecao {
    margin: 8px;
    width: 160px;
    height: 32px;
    border: 1px solid #37ff20;
    border-radius: 8px;
    color: #37ff20;
    background-color: black;
    align-items: center;
    justify-content: center;
}

select:focus {
    outline: 0;
    transition: 0.2s;
    background-color: #37ff20;
    color: black;
}

.botaoCodificar {
    width: 120px;
    height: 40px;
    border-radius: 4px;
    background-color: black;
    color: #37ff20;
    border: 1px solid #37ff20;
    margin: 8px;
}

.botaoCodificar:hover {
    transition: 0.4s;
    cursor: pointer;
    background-color: #37ff20;
    color: black;
    border: 1px solid black;
}

.botaoDecodificar {
    width: 120px;
    height: 40px;
    border-radius: 4px;
    background-color: black;
    color: #37ff20;
    border: 1px solid #37ff20;
    margin: 8px;
}

.botaoDecodificar:hover {
    transition: 0.4s;
    cursor: pointer;
    background-color: #37ff20;
    color: black;
    border: 1px solid black;
}


/*Rodapé do site*/

.containerRodape {
    position: fixed;
    bottom: 0;
    background-color: black;
    color: #37ff20;
    width: 100%;
    text-align: center;
    padding: 8px;
}